/* mtbbergamo CSS */
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-slope-img {
	padding : 0 !important;
	border : 0 !important;
	-moz-box-shadow : 0 0 0 !important;
	-webkit-box-shadow : 0 0 0 !important;
	box-shadow : 0 0 0 !important;
	background: 0 !important;
}

.mapbox {
	width: 100%;
	min-height: 400px;
	/* 80% of the viewport size https://caniuse.com/#feat=viewport-units */
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.videotitle {
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

/* aspect trick from https://stackoverflow.com/questions/11243075/css-scale-height-to-match-width-possibly-with-a-formfactor */

/* 16 / 9 */
.videobox {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
}

.videobox iframe {
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.framebox {
}

/* 12 / 7 */
.video127box {
	width: 100%;
	position: relative;
	padding-bottom: 58.33%;
}

.video127box iframe {
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame127box {
}

