/* mtbbergamo CSS */
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-slope-img {
	padding : 0 !important;
	border : 0 !important;
	-moz-box-shadow : 0 0 0 !important;
	-webkit-box-shadow : 0 0 0 !important;
	box-shadow : 0 0 0 !important;
	background: 0 !important;
}

.mapbox {
	width: 730px;
	height: 730px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.videobox {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.framebox {
	width: 600px;
	height: 338px;
}

.frame43box {
	width: 600px;
	height: 350px;
}
